### Import Python Packages

In [3]:
# import some standard python data packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Load and Explore Data

In [6]:
# load the test data csv file - this is the data to test quality

testdata = pd.read_csv("../datasets/test.csv")

In [8]:
# load the main address data csv file- this is the one to use to access data quality
alldata = pd.read_csv("../datasets/all_addresses.csv")

In [20]:
# prewview the testdata
testdata.head()

   uid            address           city state      zip
0    1      941 Thorpe St   Rock Springs    WY  82901.0
1    2     2809 HARRIS DR        Antioch    CA  94509.0
2    3  1441 Eastlake Ave    Los Angeles    CA  90033.0
3    4         7 ucayptus  Newport Beach    CA  92657.0
4    5    1400 Lachman Ln            NaN    CA  90272.0

In [35]:
# check the data type for text data
testdata.dtypes

uid         int64
address    object
city       object
state      object
zip        object
dtype: object

In [37]:
# change the zip code to string object
testdata['zip'] = testdata['zip'].astype('Int64').astype('str')

ValueError: invalid literal for int() with base 10: '<NA>'

In [39]:
testdata.dtypes

uid         int64
address    object
city       object
state      object
zip        object
dtype: object

In [41]:
testdata.head()

   uid            address           city state    zip
0    1      941 Thorpe St   Rock Springs    WY  82901
1    2     2809 HARRIS DR        Antioch    CA  94509
2    3  1441 Eastlake Ave    Los Angeles    CA  90033
3    4         7 ucayptus  Newport Beach    CA  92657
4    5    1400 Lachman Ln            NaN    CA  90272

In [45]:
# Check total size of the length of the data
len(testdata)

99249

In [49]:
#Check if there are missing data in the testdata
missing_value = testdata.isnull().sum()
print(missing_value)

uid           0
address       0
city       1282
state      7433
zip           0
dtype: int64

In [51]:
# Accumulate the missing data
testdata.isnull().sum().sum()

8715

In [53]:
# preview alldata

alldata.head()

             address           city state    zip
0      941 Thorpe St   Rock Springs    WY  82901
1     2809 HARRIS DR        Antioch    CA  94509
2  1441 Eastlake Ave    Los Angeles    CA  90033
3       7 Eucalyptus  Newport Beach    CA  92657
4    1400 Lachman Ln    Los Angeles    CA  90272

In [55]:
# check data type

alldata.dtypes

address    object
city       object
state      object
zip        object
dtype: object

In [57]:
#check total size of the length of the dataset

len(alldata.index)

130000

In [59]:
# check and print number of missing values in all data

print(alldata.isnull().sum())

address    295
city        16
state       16
zip         16
dtype: int64

In [61]:
#Check the total missing data in across the alldata dataset
alldata.isnull().sum().sum()

343

Note: Since the missing data are not huge, like the case of the testdata dataset, we can afford to remove the missing rows in the dataset

In [69]:
# drop all rows with missing values in alldata

alldata.dropna(axis=0, how='any')

                       address           city state    zip
0                941 Thorpe St   Rock Springs    WY  82901
1               2809 HARRIS DR        Antioch    CA  94509
2            1441 Eastlake Ave    Los Angeles    CA  90033
3                 7 Eucalyptus  Newport Beach    CA  92657
4              1400 Lachman Ln    Los Angeles    CA  90272
...                        ...            ...   ...    ...
129995        4477 Camrose Ave      San Diego    CA  92122
129996            13 STONEWALL         Irvine    CA  92620
129997        3456 Nouveau Way     Gold River    CA  95670
129998       9115 Bungalow Way      Elk Grove    CA  95758
129999  1824 Highlands View Rd         Alpine    CA  91901

[129705 rows x 4 columns]

In [75]:
alldata.isnull().sum().sum()

343

### Format the address info in test and alladdress data
The correctly formatted address is: street address, city, state zip (e.g. 710 Florida St, San Francisco, CA 94110)

In [79]:
# create column for full address of testdata

testdata['fulladdr'] = testdata['address'] + ', ' + testdata['city'] + ', ' + testdata['state'] + ' '+ testdata['zip']

In [81]:
# check the updated data
testdata.head(10)

,uid,address,city,state,zip,fulladdr
0,1,941 Thorpe St,Rock Springs,WY,82901,"941 Thorpe St, Rock Springs, WY 82901"
1,2,2809 HARRIS DR,Antioch,CA,94509,"2809 HARRIS DR, Antioch, CA 94509"
2,3,1441 Eastlake Ave,Los Angeles,CA,90033,"1441 Eastlake Ave, Los Angeles, CA 90033"
3,4,7 ucayptus,Newport Beach,CA,92657,"7 ucayptus, Newport Beach, CA 92657"
4,5,1400 Lachman Ln,NaN,CA,90272,NaN
5,6,725 ounain View St,Altadena,CA,91001,"725 ounain View St, Altadena, CA 91001"
6,7,1966 Clinton Ave,Calexico,CA,92231,"1966 Clinton Ave, Calexico, CA 92231"
7,8,431 6th St,Sacramento,CA,95820,"431 6th St, Sacramento, CA 95820"
8,9,5574 Old Goodrich Rd,Clarence,NY,14031,"5574 Old Goodrich Rd, Clarence, NY 14031"
9,10,"3640 Oak Creek Dr, Unit 10",Ontario,CA,91761,"3640 Oak Creek Dr, Unit 10, Ontario, CA 91761"

Note: for address in testdata with missing city or state info, the full address is NaN

There are various things that can be done to clean this up such as trying to compare address,state, and zip for a match in all data and then fill the city with any information from all data. But for now, we would remove the fulladdr that are missing

In [83]:
# pick only rows where the full address is not null

testdata.dropna(axis=0, how='any', inplace=True)

In [85]:
testdata.head(10)

,uid,address,city,state,zip,fulladdr
0,1,941 Thorpe St,Rock Springs,WY,82901,"941 Thorpe St, Rock Springs, WY 82901"
1,2,2809 HARRIS DR,Antioch,CA,94509,"2809 HARRIS DR, Antioch, CA 94509"
2,3,1441 Eastlake Ave,Los Angeles,CA,90033,"1441 Eastlake Ave, Los Angeles, CA 90033"
3,4,7 ucayptus,Newport Beach,CA,92657,"7 ucayptus, Newport Beach, CA 92657"
5,6,725 ounain View St,Altadena,CA,91001,"725 ounain View St, Altadena, CA 91001"
6,7,1966 Clinton Ave,Calexico,CA,92231,"1966 Clinton Ave, Calexico, CA 92231"
7,8,431 6th St,Sacramento,CA,95820,"431 6th St, Sacramento, CA 95820"
8,9,5574 Old Goodrich Rd,Clarence,NY,14031,"5574 Old Goodrich Rd, Clarence, NY 14031"
9,10,"3640 Oak Creek Dr, Unit 10",Ontario,CA,91761,"3640 Oak Creek Dr, Unit 10, Ontario, CA 91761"
10,11,Valencia Way,Valley Center,CA,92082,"Valencia Way, Valley Center, CA 92082"

In [87]:
# create column for full address of alldata

alldata['fulladdr'] = alldata['address'] + ', ' + alldata['city'] + ', ' + alldata['state'] + ' '+ alldata['zip']

In [89]:
# check the updated data
alldata.head(10)

,address,city,state,zip,fulladdr
0,941 Thorpe St,Rock Springs,WY,82901,"941 Thorpe St, Rock Springs, WY 82901"
1,2809 HARRIS DR,Antioch,CA,94509,"2809 HARRIS DR, Antioch, CA 94509"
2,1441 Eastlake Ave,Los Angeles,CA,90033,"1441 Eastlake Ave, Los Angeles, CA 90033"
3,7 Eucalyptus,Newport Beach,CA,92657,"7 Eucalyptus, Newport Beach, CA 92657"
4,1400 Lachman Ln,Los Angeles,CA,90272,"1400 Lachman Ln, Los Angeles, CA 90272"
5,725 Mountain View St,Altadena,CA,91001,"725 Mountain View St, Altadena, CA 91001"
6,1966 Clinton Ave,Calexico,CA,92231,"1966 Clinton Ave, Calexico, CA 92231"
7,4341 69th St,Sacramento,CA,95820,"4341 69th St, Sacramento, CA 95820"
8,5574 Old Goodrich Rd,Clarence,NY,14031,"5574 Old Goodrich Rd, Clarence, NY 14031"
9,3640 Oak Creek Dr,Ontario,CA,91761,"3640 Oak Creek Dr, Ontario, CA 91761"

Address Matching
coverage rate - the percentage of properties in a file that has correct addresses and matches up with a standard address database

In order to check the full address matching, we would change the addresses in both testdata and alldata to lower case

In [93]:
# test data full address lower case

testdata['fulladdr'] =testdata['fulladdr'].str.lower()
testdata.head(10)

,uid,address,city,state,zip,fulladdr
0,1,941 Thorpe St,Rock Springs,WY,82901,"941 thorpe st, rock springs, wy 82901"
1,2,2809 HARRIS DR,Antioch,CA,94509,"2809 harris dr, antioch, ca 94509"
2,3,1441 Eastlake Ave,Los Angeles,CA,90033,"1441 eastlake ave, los angeles, ca 90033"
3,4,7 ucayptus,Newport Beach,CA,92657,"7 ucayptus, newport beach, ca 92657"
5,6,725 ounain View St,Altadena,CA,91001,"725 ounain view st, altadena, ca 91001"
6,7,1966 Clinton Ave,Calexico,CA,92231,"1966 clinton ave, calexico, ca 92231"
7,8,431 6th St,Sacramento,CA,95820,"431 6th st, sacramento, ca 95820"
8,9,5574 Old Goodrich Rd,Clarence,NY,14031,"5574 old goodrich rd, clarence, ny 14031"
9,10,"3640 Oak Creek Dr, Unit 10",Ontario,CA,91761,"3640 oak creek dr, unit 10, ontario, ca 91761"
10,11,Valencia Way,Valley Center,CA,92082,"valencia way, valley center, ca 92082"

In [95]:
# alldata full address lower case

alldata['fulladdr'] = alldata['fulladdr'].str.lower()
alldata.head(10)

,address,city,state,zip,fulladdr
0,941 Thorpe St,Rock Springs,WY,82901,"941 thorpe st, rock springs, wy 82901"
1,2809 HARRIS DR,Antioch,CA,94509,"2809 harris dr, antioch, ca 94509"
2,1441 Eastlake Ave,Los Angeles,CA,90033,"1441 eastlake ave, los angeles, ca 90033"
3,7 Eucalyptus,Newport Beach,CA,92657,"7 eucalyptus, newport beach, ca 92657"
4,1400 Lachman Ln,Los Angeles,CA,90272,"1400 lachman ln, los angeles, ca 90272"
5,725 Mountain View St,Altadena,CA,91001,"725 mountain view st, altadena, ca 91001"
6,1966 Clinton Ave,Calexico,CA,92231,"1966 clinton ave, calexico, ca 92231"
7,4341 69th St,Sacramento,CA,95820,"4341 69th st, sacramento, ca 95820"
8,5574 Old Goodrich Rd,Clarence,NY,14031,"5574 old goodrich rd, clarence, ny 14031"
9,3640 Oak Creek Dr,Ontario,CA,91761,"3640 oak creek dr, ontario, ca 91761"

### Check for Correct and Incorrect Addresseses

In [100]:
## Here is the magic of the "assign" function used. This will check the number of correct addresses in the test data and create a column add test to assign 0 or 1 if the address in test matches the all data address

testdata = testdata.assign(addtest=testdata.fulladdr.isin(alldata.fulladdr).astype(int))
testdata.head()

,uid,address,city,state,zip,fulladdr,addtest
0,1,941 Thorpe St,Rock Springs,WY,82901,"941 thorpe st, rock springs, wy 82901",1
1,2,2809 HARRIS DR,Antioch,CA,94509,"2809 harris dr, antioch, ca 94509",1
2,3,1441 Eastlake Ave,Los Angeles,CA,90033,"1441 eastlake ave, los angeles, ca 90033",1
3,4,7 ucayptus,Newport Beach,CA,92657,"7 ucayptus, newport beach, ca 92657",0
5,6,725 ounain View St,Altadena,CA,91001,"725 ounain view st, altadena, ca 91001",0

Note: in the addtest column, the ones with value 1 are exact matches while the ones with 0 are not exact matches. We will do a value count to know the coverage rate

In [102]:
# Let's check number of 0 and 1 in the addtest

testdata['addtest'].value_counts()

addtest
1    62927
0    27607
Name: count, dtype: int64

In [108]:
#Can we put it in percetage? How? count occurrence of each value in 'addtest' column as percentage of total
testdata.addtest.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

addtest
1    69.5%
0    30.5%
Name: proportion, dtype: object

Note: This means that 69.5% of address are a match but 30.5% are not a match. Hence coverage rate is 69.5%

### Use Fuzzy Matching with python difflib to address the Incorrect Addresses¶

The algorithm that we shall explore:
1. First, extract all testdata rows that have incorrect addresses indicated by addtest = 0
2. Take 20 rows out of 27607 in our processed dataset to save running time. Of course! You can try it with the whole dataset with a sacrifice of about 1.5 hours, subject to your machine capacity.

In [113]:
changetdata = testdata[testdata["addtest"] == 0]

changetdata.head()

,uid,address,city,state,zip,fulladdr,addtest
3,4,7 ucayptus,Newport Beach,CA,92657,"7 ucayptus, newport beach, ca 92657",0
5,6,725 ounain View St,Altadena,CA,91001,"725 ounain view st, altadena, ca 91001",0
7,8,431 6th St,Sacramento,CA,95820,"431 6th st, sacramento, ca 95820",0
9,10,"3640 Oak Creek Dr, Unit 10",Ontario,CA,91761,"3640 oak creek dr, unit 10, ontario, ca 91761",0
11,12,5571Moringside Dr,Clayton,CA,94517,"5571moringside dr, clayton, ca 94517",0

In [115]:
changetdata.shape

(27607, 7)

There are 27,607 addresses with incorrect values.

Note:

Due to the large number of data that have errors and the limited amount of time for submission, I decided to test the difflib function with 20 copies of the incorrect addresses. Of course! You can try it all.

In [117]:
test01 = changetdata.head(20)

test01.head()

,uid,address,city,state,zip,fulladdr,addtest
3,4,7 ucayptus,Newport Beach,CA,92657,"7 ucayptus, newport beach, ca 92657",0
5,6,725 ounain View St,Altadena,CA,91001,"725 ounain view st, altadena, ca 91001",0
7,8,431 6th St,Sacramento,CA,95820,"431 6th st, sacramento, ca 95820",0
9,10,"3640 Oak Creek Dr, Unit 10",Ontario,CA,91761,"3640 oak creek dr, unit 10, ontario, ca 91761",0
11,12,5571Moringside Dr,Clayton,CA,94517,"5571moringside dr, clayton, ca 94517",0

The Python package difflib is used to find close matches using the get_close_matches function

find_addr: the function to run and match the searched address with addresses in alldata

w = the address that we want to find a perfect match

In [119]:
import difflib

# function to perform fuzzy matching of incorrect addr with correct using difflib get_close_matches 
def find_addr(w):
    return difflib.get_close_matches(w, alldata.fulladdr.astype(str), n=1, cutoff=0.6)

In [121]:
# this loop through data in the testdata extracted and call the find function

for x in test01["fulladdr"]:   
    altadd = find_addr(x)
    test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])

test01.head(10)

/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])
/var/folders/bz/v121sbw15753l82s9fynnd9m0000gq/T/ipykernel_81648/529607151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test01['fulladdr'] = test01['fulladdr'].replace(x, altadd[0])

,uid,address,city,state,zip,fulladdr,addtest
3,4,7 ucayptus,Newport Beach,CA,92657,"7 eucalyptus, newport beach, ca 92657",0
5,6,725 ounain View St,Altadena,CA,91001,"725 mountain view st, altadena, ca 91001",0
7,8,431 6th St,Sacramento,CA,95820,"4341 69th st, sacramento, ca 95820",0
9,10,"3640 Oak Creek Dr, Unit 10",Ontario,CA,91761,"3640 oak creek dr, ontario, ca 91761",0
11,12,5571Moringside Dr,Clayton,CA,94517,"5571 morningside dr, clayton, ca 94517",0
15,16,36 W aomi Ave,Arcadia,CA,91007,"365 w naomi ave, arcadia, ca 91007",0
17,18,255 araise Flat Ln,South Lake Tahoe,CA,96150,"255 paradise flat ln, south lake tahoe, ca 96150",0
19,20,"129 Dexter St, Unit 20",La Habra,CA,90631,"129 dexter st, la habra, ca 90631",0
23,24,525 heynne Dr,San Dimas,CA,91773,"525 cheyenne dr, san dimas, ca 91773",0
27,28,1104 eatherwood Terrace,San Diego,CA,92131,"11004 weatherwood terrace, san diego, ca 92131",0

Note: This function can correct some of the addresses by matching the testdata with the address in the alldata

For example:

Incorrect Address: 7 ucayptus, newport beach, ca 92657 (which is incorrect because of a typo)

Correct Address: 7 eucalyptus, newport beach, ca 92657 (correct address)

Another example:

Incorrect: 725 ounain view st, altadena, ca 91001

Correct: 725 mountain view st, altadena, ca 91001 (there was a typo in the address

In [122]:
## Check for the Coverage rate for the 100 extracted from incorrect addresses

test01 = test01.assign(newaddtest=test01.fulladdr.isin(alldata.fulladdr).astype(int))
test01.head()

,uid,address,city,state,zip,fulladdr,addtest,newaddtest
3,4,7 ucayptus,Newport Beach,CA,92657,"7 eucalyptus, newport beach, ca 92657",0,1
5,6,725 ounain View St,Altadena,CA,91001,"725 mountain view st, altadena, ca 91001",0,1
7,8,431 6th St,Sacramento,CA,95820,"4341 69th st, sacramento, ca 95820",0,1
9,10,"3640 Oak Creek Dr, Unit 10",Ontario,CA,91761,"3640 oak creek dr, ontario, ca 91761",0,1
11,12,5571Moringside Dr,Clayton,CA,94517,"5571 morningside dr, clayton, ca 94517",0,1

In [131]:
# check number of 0 and 1 in the newaddtest, just to keep the results
test01['newaddtest'].value_counts()

newaddtest
1    20
Name: count, dtype: int64

In [133]:
#count occurrence of each value in 'newaddtest' column as percentage of total
test01.newaddtest.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

newaddtest
1    100.0%
Name: proportion, dtype: object

Note: We have 100 percent address correctness with the 100 piloted addresses